<h2>Jminutes COIN</h2>
<p>すきま時間をすきな時間に。</p>
<div class="img"></div>
<article>
  Jminutes
  COINアプリでは、ブラックジャックやクイズなどさまざまなコンテンツをお楽しみいただけます。コンテンツを利用することで「Jminutesコイン」を貯めることができます。
</article>
<article>
  [Jminutesコインを集めよう] ・Jminutes
  COINアプリで様々なコンテンツを利用することによって貯められるJminutes専用のコインです。
  ・Jminutes
  COINアプリ内コンテンツのブラックジャックやクイズをしたり、アンケートに参加することによって貯めることができます。
  ・獲得したJminutesコインはウェブサイトで使うことが可能です。使い方はウェブサイトでご確認ください。
</article>
<article>※当アプリはスマートフォンでのご利用を推奨します。</article>
<article>
  ※現在「かんたんログイン」機能が使用できないスマートフォンが確認されております。現象が発生した場合、大変申し訳ありませんが、通常のログイン機能からログインしていただけますようお願いいたします。
</article>
<p>
  <img src="../../assets/icons/watermelon-128.png" alt="" />
  <img src="../../assets/icons/orange-128.png" alt="" />
</p>
